body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

.button-container {
    position: relative;
    top: 20px;
    left: 20px;
}

.button1 {
    background-color: #007bff;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.button1:hover {
    background-color: #0056b3; 
}

.button2 {
    background-color: rgb(250, 0, 0);
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.button2:hover {
    background-color: rgb(179, 0, 0); 
}


