body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(50deg, blue, black, white);
    background-size: 300% 600%;
    font-family: 'Roboto Slab', serif;
}

h1{
    color: aquamarine;
    align-items: center;
    text-align: center;
}

.div_bio{
    margin: 10%;
    margin-top: 30px;
    margin-block-end: 70px;
    font-size: 16px;
    color: #fff;
    display: grid;
    place-items: center;
}

.div_bio h2{
    text-decoration: underline;
}

.div_bio p{
    align-items: center;
    text-align: center;
}

nav.menu a{
    color: #fff;
    font-size: 25px;
}

nav.menu{
    margin: 45%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.menu li a:hover{
    color: skyblue;
}